:root {
    --heading-font: 'Noto Serif', serif;
    --body-font: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
p{
     font-family: var(--body-font);
     font-weight:300;
}

.entry-content p,.entry-content span,.entry-content ul li,.entry-content ol li {
     font-family: var(--body-font);
}
body,button,input,select,optgroup,textarea {

   font-family: var(--body-font);
   font-size:0.9rem;

}
.about-intro-content-wrap p {
  font-size: 17px;
  line-height: 26px;
}
.feature-item-content h4{
     font-family: var(--body-font);
     font-weight:400;
     font-size:16px;
}
.featured-strip ul li{font-weight:400;}
.header-contact-info ul li a{font-weight:500;}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:focus{font-weight:300;}
.customer-review-desc h4{font-family: var(--body-font); font-weight:400;}
.product-archive-tab-list .nav-link{font-weight:400;}
.products .product .price .woocommerce-Price-amount{font-weight:600;}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link{font-size: 14px;;}
.header-flyout-gemstones h4{font-size: 14px;}
body .products .product h2 {font-size: 14px !important; padding-top:12px !important;}
body .woocommerce ul.products li.product .review-count .count{font-size: 14px; font-weight: 400;}
.woocommerce ul.products li.product .review-count .count{color: #646464;}
body .products .product .price .woocommerce-Price-amount{font-size:14px;}
.product .summary .product_title{font-weight: 600;}
.product .summary .woocommerce-product-details__short-description{font-size: 15px;}
.product-custom-meta{font-size: 13px;}
.entry-content p, .entry-content span, .entry-content ul li, .entry-content ol li {
     font-family: var(--body-font) !important;
     font-size: 16px !important;
     line-height: 24px;
   }
h2.woocommerce-loop-product__title{font-family: var(--body-font);}